
Sri Lanka : .sri { }
Singapore : .sin { }
India : .ind { }
Afghanistan : .afg { }
Algeria : .alg { }
American Samoa : .ame { }
Angola : .ang { }
Antigua : .ant { }
Argentina : .arg { }
Armenia : .arm { }
Australia : .aus { }
Austria : .aus { }
Azerbaijan : .aze { }
Bahamas : .bah { }
Bahrain : .bah { }
Bangladesh : .ban { }
Barbados : .bar { }
Belarus : .bel { }
Belgium : .bel { }
Benin : .ben { }
Bhutan : .bhu { }
Bolivia : .bol { }
Bosnia and Herzegovina : .bos { }
Botswana : .bot { }
Brazil : .bra { }
Brunei : .bru { }
Bulgaria : .bul { }
Burkina Faso : .bur { }
Burundi : .bur { }
Cambodia : .cam { }
Cameroon : .cam { }
Canada : .can { }
Canada : . ca { }
Cape Verde : .cap { }
Central African Republic : .cen { }
Chad : .cha { }
Chile : .chi { }
China : .chin { }
Christmas Island : .chr { }
Cocos Keeling Islands : .coc { }
Colombia : .col { }
Comoros : .com { }
Cook Islands : .coo { }
Costa Rica : .cos { }
Croatia : .cro { }
Cyprus : .cyp { }
Czech Republic : .cze { }
Democratic Republic of the Congo : .dem { }
Denmark : .den { }
Djibouti : .dji { }
East Timor : .eas { }
Ecuador : .ecu { }
Egypt : .egy { }
Equatorial Guinea : .equ { }
Eritrea : .eri { }
Estonia : .est { }
Ethiopia : .eth { }
Falkland Islands : .fal { }
Faroe Islands : .far { }
Fiji : .fij { }
Finland : .fin { }
France : .fra { }
French Guiana : .fre { }
French Polynesia : .fre { }
Gabon : .gab { }
Georgia : .geo { }
Germany : .ger { }
Ghana : .gha { }
Gibraltar : .gib { }
Greece : .gre { }
Greenland : .gre { }
Guam : .gua { }
Guinea : .gui { }
Guyana : .guy { }
Haiti : .hai { }
Hungary : .hun { }
Iceland : .ice { }
Indonesia : .ind { }
Iraq : .ira { }
Ireland : .ire { }
Israel : .isr { }
Italy : .ita { }
Jamaica : .jam { }
Japan : .jap { }
Jordan : .jor { }
Kazakhstan : .kaz { }
Kenya : .ken { }
Kiribati : .kir { }
Kuwait : .kuw { }
Kyrgyzstan : .kyr { }
Laos : .lao { }
Latvia : .lat { }
Lebanon : .leb { }
Lesotho : .les { }
Liberia : .lib { }
Lithuania : .lit { }
Luxembourg : .lux { }
Macao : .mac { }
Macedonia : .mac { }
Madagascar : .mad { }
Malawi : .mal { }
Malaysia : .mal { }
Maldives : .mal { }
Mali : .mal { }
Malta : .mal { }
Marshall Islands : .mar { }
Mauritania : .mau { }
Mauritius : .mau { }
Mayotte : .may { }
Mexico : .mex { }
Moldova : .mol { }
Mongolia : .mon { }
Montenegro : .mon { }
Montserrat : .mon { }
Morocco : .mor { }
Mozambique : .moz { }
Myanmar : .mya { }
Namibia : .nam { }
Nauru : .nau { }
Nepal : .nep { }
Netherlands : .net { }
Netherlands Antilles : .net { }
New Caledonia : .new { }
New Zealand : .new { }
Nigeria : .nig { }
Niue : .niu { }
Norfolk Island : .nor { }
Northern Mariana Islands : .nor { }
Norway : .nor { }
Oman : .oma { }
Pakistan : .pak { }
Papua New Guinea : .pap { }
Paraguay : .par { }
Peru : .per { }
Philippines : .phi { }
Poland : .pol { }
Portugal : .por { }
Puerto Rico : .pue { }
Qatar : .qat { }
Republic of the Congo : .rep { }
Romania : .rom { }
Russia : .rus { }
Rwanda : .rwa { }
Reunion : .reu { }
Saint Helena : .sai { }
Saint Pierre and Miquelon : .sai { }
Samoa : .sam { }
Sao Tome : .sao { }
Saudi Arabia : .sau { }
Senegal : .sen { }
Serbia : .ser { }
Seychelles : .sey { }
Sierra Leone : .sie { }
Slovakia : .slo { }
Slovenia : .slo { }
Solomon Islands : .sol { }
South Africa : .sou { }
South Korea : .sou { }
Spain : .spa { }
Suriname : .sur { }
Svalbard : .sva { }
Swaziland : .swa { }
Sweden : .swe { }
Switzerland : .swi { }
Taiwan : .tai { }
Tajikistan : .taj { }
Tanzania : .tan { }
Thailand : .tha { }
The Gambia : .the { }
Togo : .tog { }
Tonga : .ton { }
Trinidad : .tri { }
Trinidad and Tobago : .tri { }
Tunisia : .tun { }
Turkey : .tur { }
Turkmenistan : .tur { }
Tuvalu : .tuv { }
UAE : .uae { }
UK : .uk { }
US : .us { }
Uganda : .uga { }
Ukraine : .ukr { }
Uruguay : .uru { }
Uzbekistan : .uzb { }
Vanuatu : .van { }
Venezuela : .ven { }
Vietnam : .vie { }
Wallis and Futuna : .wal { }
Yemen : .yem { }
Zambia : .zam { }
Zimbabwe : .zim { }