.flg {
  background-image: url("../img/flg-spritesheet.png");
  background-repeat: no-repeat;
  display: block; }

.flg-afg {
  width: 20px;
  height: 12px;
  background-position: -1px -1px; }

.flg-alg {
  width: 20px;
  height: 12px;
  background-position: -1px -15px; }

.flg-ame {
  width: 20px;
  height: 12px;
  background-position: -1px -29px; }

.flg-ang {
  width: 20px;
  height: 12px;
  background-position: -1px -43px; }

.flg-ant {
  width: 20px;
  height: 12px;
  background-position: -1px -57px; }

.flg-arg {
  width: 20px;
  height: 12px;
  background-position: -1px -71px; }

.flg-arm {
  width: 20px;
  height: 12px;
  background-position: -1px -85px; }

.flg-austl {
  width: 20px;
  height: 12px;
  background-position: -1px -99px; }

.flg-austr {
  width: 20px;
  height: 12px;
  background-position: -1px -113px; }

.flg-aze {
  width: 20px;
  height: 12px;
  background-position: -1px -127px; }

.flg-bahm {
  width: 20px;
  height: 12px;
  background-position: -1px -141px; }

.flg-bahr {
  width: 20px;
  height: 12px;
  background-position: -1px -155px; }

.flg-ban {
  width: 20px;
  height: 12px;
  background-position: -1px -169px; }

.flg-bar {
  width: 20px;
  height: 12px;
  background-position: -1px -183px; }

.flg-belg {
  width: 20px;
  height: 12px;
  background-position: -1px -197px; }

.flg-belu {
  width: 20px;
  height: 12px;
  background-position: -1px -211px; }

.flg-ben {
  width: 20px;
  height: 12px;
  background-position: -1px -225px; }

.flg-bhu {
  width: 20px;
  height: 12px;
  background-position: -1px -239px; }

.flg-bol {
  width: 20px;
  height: 12px;
  background-position: -1px -253px; }

.flg-bos {
  width: 20px;
  height: 12px;
  background-position: -1px -267px; }

.flg-bot {
  width: 20px;
  height: 12px;
  background-position: -1px -281px; }

.flg-bra {
  width: 20px;
  height: 12px;
  background-position: -1px -295px; }

.flg-bru {
  width: 20px;
  height: 12px;
  background-position: -1px -309px; }

.flg-bul {
  width: 20px;
  height: 12px;
  background-position: -1px -323px; }

.flg-burk {
  width: 20px;
  height: 12px;
  background-position: -1px -337px; }

.flg-buru {
  width: 20px;
  height: 12px;
  background-position: -1px -351px; }

.flg-camb {
  width: 20px;
  height: 12px;
  background-position: -1px -365px; }

.flg-camr {
  width: 20px;
  height: 12px;
  background-position: -1px -379px; }

.flg-can {
  width: 20px;
  height: 12px;
  background-position: -1px -393px; }

.flg-cap {
  width: 20px;
  height: 12px;
  background-position: -1px -407px; }

.flg-cen {
  width: 20px;
  height: 12px;
  background-position: -1px -421px; }

.flg-cha {
  width: 20px;
  height: 12px;
  background-position: -1px -435px; }

.flg-chil {
  width: 20px;
  height: 12px;
  background-position: -1px -449px; }

.flg-chin {
  width: 20px;
  height: 12px;
  background-position: -1px -463px; }

.flg-chr {
  width: 20px;
  height: 12px;
  background-position: -1px -477px; }

.flg-coc {
  width: 20px;
  height: 12px;
  background-position: -1px -491px; }

.flg-col {
  width: 20px;
  height: 12px;
  background-position: -1px -505px; }

.flg-com {
  width: 20px;
  height: 12px;
  background-position: -1px -519px; }

.flg-coo {
  width: 20px;
  height: 12px;
  background-position: -1px -533px; }

.flg-cos {
  width: 20px;
  height: 12px;
  background-position: -1px -547px; }

.flg-cro {
  width: 20px;
  height: 12px;
  background-position: -1px -561px; }

.flg-cyp {
  width: 20px;
  height: 12px;
  background-position: -1px -575px; }

.flg-cze {
  width: 20px;
  height: 12px;
  background-position: -1px -589px; }

.flg-dem {
  width: 20px;
  height: 12px;
  background-position: -1px -603px; }

.flg-den {
  width: 20px;
  height: 12px;
  background-position: -1px -617px; }

.flg-dji {
  width: 20px;
  height: 12px;
  background-position: -1px -631px; }

.flg-eas {
  width: 20px;
  height: 12px;
  background-position: -1px -645px; }

.flg-ecu {
  width: 20px;
  height: 12px;
  background-position: -1px -659px; }

.flg-egy {
  width: 20px;
  height: 12px;
  background-position: -1px -673px; }

.flg-equ {
  width: 20px;
  height: 12px;
  background-position: -1px -687px; }

.flg-eri {
  width: 20px;
  height: 12px;
  background-position: -1px -701px; }

.flg-est {
  width: 20px;
  height: 12px;
  background-position: -1px -715px; }

.flg-eth {
  width: 20px;
  height: 12px;
  background-position: -1px -729px; }

.flg-fal {
  width: 20px;
  height: 12px;
  background-position: -1px -743px; }

.flg-far {
  width: 20px;
  height: 12px;
  background-position: -1px -757px; }

.flg-fij {
  width: 20px;
  height: 12px;
  background-position: -1px -771px; }

.flg-fin {
  width: 20px;
  height: 12px;
  background-position: -1px -785px; }

.flg-fra {
  width: 20px;
  height: 12px;
  background-position: -1px -799px; }

.flg-freg {
  width: 20px;
  height: 12px;
  background-position: -1px -813px; }

.flg-frep {
  width: 20px;
  height: 12px;
  background-position: -1px -827px; }

.flg-gab {
  width: 20px;
  height: 12px;
  background-position: -1px -841px; }

.flg-geo {
  width: 20px;
  height: 12px;
  background-position: -1px -855px; }

.flg-ger {
  width: 20px;
  height: 12px;
  background-position: -1px -869px; }

.flg-gha {
  width: 20px;
  height: 12px;
  background-position: -1px -883px; }

.flg-gib {
  width: 20px;
  height: 12px;
  background-position: -1px -897px; }

.flg-grec {
  width: 20px;
  height: 12px;
  background-position: -1px -911px; }

.flg-gren {
  width: 20px;
  height: 12px;
  background-position: -1px -925px; }

.flg-gua {
  width: 20px;
  height: 12px;
  background-position: -1px -939px; }

.flg-gui {
  width: 20px;
  height: 12px;
  background-position: -1px -953px; }

.flg-guy {
  width: 20px;
  height: 12px;
  background-position: -1px -967px; }

.flg-hai {
  width: 20px;
  height: 12px;
  background-position: -1px -981px; }

.flg-hun {
  width: 20px;
  height: 12px;
  background-position: -1px -995px; }

.flg-ice {
  width: 20px;
  height: 12px;
  background-position: -1px -1009px; }

.flg-ind {
  width: 20px;
  height: 12px;
  background-position: -1px -1023px; }

.flg-indo {
  width: 20px;
  height: 12px;
  background-position: -1px -1037px; }

.flg-ira {
  width: 20px;
  height: 12px;
  background-position: -1px -1051px; }

.flg-ire {
  width: 20px;
  height: 12px;
  background-position: -1px -1065px; }

.flg-isr {
  width: 20px;
  height: 12px;
  background-position: -1px -1079px; }

.flg-ita {
  width: 20px;
  height: 12px;
  background-position: -1px -1093px; }

.flg-jam {
  width: 20px;
  height: 12px;
  background-position: -1px -1107px; }

.flg-jap {
  width: 20px;
  height: 12px;
  background-position: -1px -1121px; }

.flg-jor {
  width: 20px;
  height: 12px;
  background-position: -1px -1135px; }

.flg-kaz {
  width: 20px;
  height: 12px;
  background-position: -1px -1149px; }

.flg-ken {
  width: 20px;
  height: 12px;
  background-position: -1px -1163px; }

.flg-kir {
  width: 20px;
  height: 12px;
  background-position: -1px -1177px; }

.flg-kuw {
  width: 20px;
  height: 12px;
  background-position: -1px -1191px; }

.flg-kyr {
  width: 20px;
  height: 12px;
  background-position: -1px -1205px; }

.flg-lao {
  width: 20px;
  height: 12px;
  background-position: -1px -1219px; }

.flg-lat {
  width: 20px;
  height: 12px;
  background-position: -1px -1233px; }

.flg-leb {
  width: 20px;
  height: 12px;
  background-position: -1px -1247px; }

.flg-les {
  width: 20px;
  height: 12px;
  background-position: -1px -1261px; }

.flg-lib {
  width: 20px;
  height: 12px;
  background-position: -1px -1275px; }

.flg-lit {
  width: 20px;
  height: 12px;
  background-position: -1px -1289px; }

.flg-lux {
  width: 20px;
  height: 12px;
  background-position: -1px -1303px; }

.flg-maca {
  width: 20px;
  height: 12px;
  background-position: -1px -1317px; }

.flg-mace {
  width: 20px;
  height: 12px;
  background-position: -1px -1331px; }

.flg-mad {
  width: 20px;
  height: 12px;
  background-position: -1px -1345px; }

.flg-malaw {
  width: 20px;
  height: 12px;
  background-position: -1px -1359px; }

.flg-malay {
  width: 20px;
  height: 12px;
  background-position: -1px -1373px; }

.flg-mald {
  width: 20px;
  height: 12px;
  background-position: -1px -1387px; }

.flg-mali {
  width: 20px;
  height: 12px;
  background-position: -1px -1401px; }

.flg-malt {
  width: 20px;
  height: 12px;
  background-position: -1px -1415px; }

.flg-mar {
  width: 20px;
  height: 12px;
  background-position: -1px -1429px; }

.flg-maura {
  width: 20px;
  height: 12px;
  background-position: -1px -1443px; }

.flg-maurs {
  width: 20px;
  height: 12px;
  background-position: -1px -1457px; }

.flg-may {
  width: 20px;
  height: 12px;
  background-position: -1px -1471px; }

.flg-mex {
  width: 20px;
  height: 12px;
  background-position: -1px -1485px; }

.flg-mol {
  width: 20px;
  height: 12px;
  background-position: -1px -1499px; }

.flg-mong {
  width: 20px;
  height: 12px;
  background-position: -1px -1513px; }

.flg-montg {
  width: 20px;
  height: 12px;
  background-position: -1px -1527px; }

.flg-montr {
  width: 20px;
  height: 12px;
  background-position: -1px -1541px; }

.flg-mor {
  width: 20px;
  height: 12px;
  background-position: -1px -1555px; }

.flg-moz {
  width: 20px;
  height: 12px;
  background-position: -1px -1569px; }

.flg-mya {
  width: 20px;
  height: 12px;
  background-position: -1px -1583px; }

.flg-nam {
  width: 20px;
  height: 12px;
  background-position: -1px -1597px; }

.flg-nau {
  width: 20px;
  height: 12px;
  background-position: -1px -1611px; }

.flg-nep {
  width: 20px;
  height: 12px;
  background-position: -1px -1625px; }

.flg-neth {
  width: 20px;
  height: 12px;
  background-position: -1px -1639px; }

.flg-nethan {
  width: 20px;
  height: 12px;
  background-position: -1px -1653px; }

.flg-newcl {
  width: 20px;
  height: 12px;
  background-position: -1px -1667px; }

.flg-newz {
  width: 20px;
  height: 12px;
  background-position: -1px -1681px; }

.flg-nig {
  width: 20px;
  height: 12px;
  background-position: -1px -1695px; }

.flg-niu {
  width: 20px;
  height: 12px;
  background-position: -1px -1709px; }

.flg-norf {
  width: 20px;
  height: 12px;
  background-position: -1px -1723px; }

.flg-north {
  width: 20px;
  height: 12px;
  background-position: -1px -1737px; }

.flg-norw {
  width: 20px;
  height: 12px;
  background-position: -1px -1751px; }

.flg-oma {
  width: 20px;
  height: 12px;
  background-position: -1px -1765px; }

.flg-pak {
  width: 20px;
  height: 12px;
  background-position: -1px -1779px; }

.flg-pap {
  width: 20px;
  height: 12px;
  background-position: -1px -1793px; }

.flg-par {
  width: 20px;
  height: 12px;
  background-position: -1px -1807px; }

.flg-per {
  width: 20px;
  height: 12px;
  background-position: -1px -1821px; }

.flg-phi {
  width: 20px;
  height: 12px;
  background-position: -1px -1835px; }

.flg-pol {
  width: 20px;
  height: 12px;
  background-position: -1px -1849px; }

.flg-por {
  width: 20px;
  height: 12px;
  background-position: -1px -1863px; }

.flg-pue {
  width: 20px;
  height: 12px;
  background-position: -1px -1877px; }

.flg-qat {
  width: 20px;
  height: 12px;
  background-position: -1px -1891px; }

.flg-rep {
  width: 20px;
  height: 12px;
  background-position: -1px -1905px; }

.flg-reu {
  width: 20px;
  height: 12px;
  background-position: -1px -1919px; }

.flg-rom {
  width: 20px;
  height: 12px;
  background-position: -1px -1933px; }

.flg-rus {
  width: 20px;
  height: 12px;
  background-position: -1px -1947px; }

.flg-rwa {
  width: 20px;
  height: 12px;
  background-position: -1px -1961px; }

.flg-sa {
  width: 20px;
  height: 12px;
  background-position: -1px -1975px; }

.flg-saih {
  width: 20px;
  height: 12px;
  background-position: -1px -1989px; }

.flg-saip {
  width: 20px;
  height: 12px;
  background-position: -1px -2003px; }

.flg-sam {
  width: 20px;
  height: 12px;
  background-position: -1px -2017px; }

.flg-sao {
  width: 20px;
  height: 12px;
  background-position: -1px -2031px; }

.flg-sau {
  width: 20px;
  height: 12px;
  background-position: -1px -2045px; }

.flg-sen {
  width: 20px;
  height: 12px;
  background-position: -1px -2059px; }

.flg-ser {
  width: 20px;
  height: 12px;
  background-position: -1px -2073px; }

.flg-sey {
  width: 20px;
  height: 12px;
  background-position: -1px -2087px; }

.flg-sie {
  width: 20px;
  height: 12px;
  background-position: -1px -2101px; }

.flg-sin {
  width: 20px;
  height: 12px;
  background-position: -1px -2115px; }

.flg-sk {
  width: 20px;
  height: 12px;
  background-position: -1px -2129px; }

.flg-slok {
  width: 20px;
  height: 12px;
  background-position: -1px -2143px; }

.flg-slon {
  width: 20px;
  height: 12px;
  background-position: -1px -2157px; }

.flg-sol {
  width: 20px;
  height: 12px;
  background-position: -1px -2171px; }

.flg-spa {
  width: 20px;
  height: 12px;
  background-position: -1px -2185px; }

.flg-sri {
  width: 20px;
  height: 12px;
  background-position: -1px -2199px; }

.flg-sur {
  width: 20px;
  height: 12px;
  background-position: -1px -2213px; }

.flg-sva {
  width: 20px;
  height: 12px;
  background-position: -1px -2227px; }

.flg-swa {
  width: 20px;
  height: 12px;
  background-position: -1px -2241px; }

.flg-swe {
  width: 20px;
  height: 12px;
  background-position: -1px -2255px; }

.flg-swi {
  width: 20px;
  height: 12px;
  background-position: -1px -2269px; }

.flg-tai {
  width: 20px;
  height: 12px;
  background-position: -1px -2283px; }

.flg-taj {
  width: 20px;
  height: 12px;
  background-position: -1px -2297px; }

.flg-tan {
  width: 20px;
  height: 12px;
  background-position: -1px -2311px; }

.flg-tha {
  width: 20px;
  height: 12px;
  background-position: -1px -2325px; }

.flg-the {
  width: 20px;
  height: 12px;
  background-position: -1px -2339px; }

.flg-tog {
  width: 20px;
  height: 12px;
  background-position: -1px -2353px; }

.flg-ton {
  width: 20px;
  height: 12px;
  background-position: -1px -2367px; }

.flg-tri {
  width: 20px;
  height: 12px;
  background-position: -1px -2381px; }

.flg-tun {
  width: 20px;
  height: 12px;
  background-position: -1px -2395px; }

.flg-turkm {
  width: 20px;
  height: 12px;
  background-position: -1px -2409px; }

.flg-turky {
  width: 20px;
  height: 12px;
  background-position: -1px -2423px; }

.flg-tuv {
  width: 20px;
  height: 12px;
  background-position: -1px -2437px; }

.flg-uae {
  width: 20px;
  height: 12px;
  background-position: -1px -2451px; }

.flg-uga {
  width: 20px;
  height: 12px;
  background-position: -1px -2465px; }

.flg-uk {
  width: 20px;
  height: 12px;
  background-position: -1px -2479px; }

.flg-ukr {
  width: 20px;
  height: 12px;
  background-position: -1px -2493px; }

.flg-uru {
  width: 20px;
  height: 12px;
  background-position: -1px -2507px; }

.flg-us {
  width: 20px;
  height: 12px;
  background-position: -1px -2521px; }

.flg-uzb {
  width: 20px;
  height: 12px;
  background-position: -1px -2535px; }

.flg-van {
  width: 20px;
  height: 12px;
  background-position: -1px -2549px; }

.flg-ven {
  width: 20px;
  height: 12px;
  background-position: -1px -2563px; }

.flg-vie {
  width: 20px;
  height: 12px;
  background-position: -1px -2577px; }

.flg-wal {
  width: 20px;
  height: 12px;
  background-position: -1px -2591px; }

.flg-yem {
  width: 20px;
  height: 12px;
  background-position: -1px -2605px; }

.flg-zam {
  width: 20px;
  height: 12px;
  background-position: -1px -2619px; }

.flg-zim {
  width: 20px;
  height: 12px;
  background-position: -1px -2633px; }

/*# sourceMappingURL=countries.css.map */
