.header {
  background: #dddddd; }
  .header .logo {
    min-width: 100px; }

.banner {
  background-image: url("../img/test.jpg");
  background-repeat: no-repeat;
  background-position: center; }

.content {
  background: #333; }

.name-field {
  width: 200px;
  color: #333; }
  .name-field .txt-name {
    border: none; }
  .name-field .txt-name:focus {
    border: none !important;
    box-shadow: none !important; }

input:not([type]):focus:not([readonly]) + label, input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #333; }

.input-field label:not(.label-icon).active {
  top: 1.3rem;
  font-size: .8rem; }

body {
  font-family: 'Roboto', sans-serif; }

.country-flag {
  width: 20px;
  height: 12px;
  float: right; }

.flg {
  background-image: url("../img/flg-spritesheet.png");
  background-repeat: no-repeat;
  display: block; }

.flg-afg {
  width: 20px;
  height: 12px;
  background-position: -1px -1px; }

.flg-alg {
  width: 20px;
  height: 12px;
  background-position: -1px -15px; }

.flg-ame {
  width: 20px;
  height: 12px;
  background-position: -1px -29px; }

.flg-ang {
  width: 20px;
  height: 12px;
  background-position: -1px -43px; }

.flg-ant {
  width: 20px;
  height: 12px;
  background-position: -1px -57px; }

.flg-arg {
  width: 20px;
  height: 12px;
  background-position: -1px -71px; }

.flg-arm {
  width: 20px;
  height: 12px;
  background-position: -1px -85px; }

.flg-austl {
  width: 20px;
  height: 12px;
  background-position: -1px -99px; }

.flg-austr {
  width: 20px;
  height: 12px;
  background-position: -1px -113px; }

.flg-aze {
  width: 20px;
  height: 12px;
  background-position: -1px -127px; }

.flg-bahm {
  width: 20px;
  height: 12px;
  background-position: -1px -141px; }

.flg-bahr {
  width: 20px;
  height: 12px;
  background-position: -1px -155px; }

.flg-ban {
  width: 20px;
  height: 12px;
  background-position: -1px -169px; }

.flg-bar {
  width: 20px;
  height: 12px;
  background-position: -1px -183px; }

.flg-belg {
  width: 20px;
  height: 12px;
  background-position: -1px -197px; }

.flg-belu {
  width: 20px;
  height: 12px;
  background-position: -1px -211px; }

.flg-ben {
  width: 20px;
  height: 12px;
  background-position: -1px -225px; }

.flg-bhu {
  width: 20px;
  height: 12px;
  background-position: -1px -239px; }

.flg-bol {
  width: 20px;
  height: 12px;
  background-position: -1px -253px; }

.flg-bos {
  width: 20px;
  height: 12px;
  background-position: -1px -267px; }

.flg-bot {
  width: 20px;
  height: 12px;
  background-position: -1px -281px; }

.flg-bra {
  width: 20px;
  height: 12px;
  background-position: -1px -295px; }

.flg-bru {
  width: 20px;
  height: 12px;
  background-position: -1px -309px; }

.flg-bul {
  width: 20px;
  height: 12px;
  background-position: -1px -323px; }

.flg-burk {
  width: 20px;
  height: 12px;
  background-position: -1px -337px; }

.flg-buru {
  width: 20px;
  height: 12px;
  background-position: -1px -351px; }

.flg-camb {
  width: 20px;
  height: 12px;
  background-position: -1px -365px; }

.flg-camr {
  width: 20px;
  height: 12px;
  background-position: -1px -379px; }

.flg-can {
  width: 20px;
  height: 12px;
  background-position: -1px -393px; }

.flg-cap {
  width: 20px;
  height: 12px;
  background-position: -1px -407px; }

.flg-cen {
  width: 20px;
  height: 12px;
  background-position: -1px -421px; }

.flg-cha {
  width: 20px;
  height: 12px;
  background-position: -1px -435px; }

.flg-chil {
  width: 20px;
  height: 12px;
  background-position: -1px -449px; }

.flg-chin {
  width: 20px;
  height: 12px;
  background-position: -1px -463px; }

.flg-chr {
  width: 20px;
  height: 12px;
  background-position: -1px -477px; }

.flg-coc {
  width: 20px;
  height: 12px;
  background-position: -1px -491px; }

.flg-col {
  width: 20px;
  height: 12px;
  background-position: -1px -505px; }

.flg-com {
  width: 20px;
  height: 12px;
  background-position: -1px -519px; }

.flg-coo {
  width: 20px;
  height: 12px;
  background-position: -1px -533px; }

.flg-cos {
  width: 20px;
  height: 12px;
  background-position: -1px -547px; }

.flg-cro {
  width: 20px;
  height: 12px;
  background-position: -1px -561px; }

.flg-cyp {
  width: 20px;
  height: 12px;
  background-position: -1px -575px; }

.flg-cze {
  width: 20px;
  height: 12px;
  background-position: -1px -589px; }

.flg-dem {
  width: 20px;
  height: 12px;
  background-position: -1px -603px; }

.flg-den {
  width: 20px;
  height: 12px;
  background-position: -1px -617px; }

.flg-dji {
  width: 20px;
  height: 12px;
  background-position: -1px -631px; }

.flg-eas {
  width: 20px;
  height: 12px;
  background-position: -1px -645px; }

.flg-ecu {
  width: 20px;
  height: 12px;
  background-position: -1px -659px; }

.flg-egy {
  width: 20px;
  height: 12px;
  background-position: -1px -673px; }

.flg-equ {
  width: 20px;
  height: 12px;
  background-position: -1px -687px; }

.flg-eri {
  width: 20px;
  height: 12px;
  background-position: -1px -701px; }

.flg-est {
  width: 20px;
  height: 12px;
  background-position: -1px -715px; }

.flg-eth {
  width: 20px;
  height: 12px;
  background-position: -1px -729px; }

.flg-fal {
  width: 20px;
  height: 12px;
  background-position: -1px -743px; }

.flg-far {
  width: 20px;
  height: 12px;
  background-position: -1px -757px; }

.flg-fij {
  width: 20px;
  height: 12px;
  background-position: -1px -771px; }

.flg-fin {
  width: 20px;
  height: 12px;
  background-position: -1px -785px; }

.flg-fra {
  width: 20px;
  height: 12px;
  background-position: -1px -799px; }

.flg-freg {
  width: 20px;
  height: 12px;
  background-position: -1px -813px; }

.flg-frep {
  width: 20px;
  height: 12px;
  background-position: -1px -827px; }

.flg-gab {
  width: 20px;
  height: 12px;
  background-position: -1px -841px; }

.flg-geo {
  width: 20px;
  height: 12px;
  background-position: -1px -855px; }

.flg-ger {
  width: 20px;
  height: 12px;
  background-position: -1px -869px; }

.flg-gha {
  width: 20px;
  height: 12px;
  background-position: -1px -883px; }

.flg-gib {
  width: 20px;
  height: 12px;
  background-position: -1px -897px; }

.flg-grec {
  width: 20px;
  height: 12px;
  background-position: -1px -911px; }

.flg-gren {
  width: 20px;
  height: 12px;
  background-position: -1px -925px; }

.flg-gua {
  width: 20px;
  height: 12px;
  background-position: -1px -939px; }

.flg-gui {
  width: 20px;
  height: 12px;
  background-position: -1px -953px; }

.flg-guy {
  width: 20px;
  height: 12px;
  background-position: -1px -967px; }

.flg-hai {
  width: 20px;
  height: 12px;
  background-position: -1px -981px; }

.flg-hun {
  width: 20px;
  height: 12px;
  background-position: -1px -995px; }

.flg-ice {
  width: 20px;
  height: 12px;
  background-position: -1px -1009px; }

.flg-ind {
  width: 20px;
  height: 12px;
  background-position: -1px -1023px; }

.flg-indo {
  width: 20px;
  height: 12px;
  background-position: -1px -1037px; }

.flg-ira {
  width: 20px;
  height: 12px;
  background-position: -1px -1051px; }

.flg-ire {
  width: 20px;
  height: 12px;
  background-position: -1px -1065px; }

.flg-isr {
  width: 20px;
  height: 12px;
  background-position: -1px -1079px; }

.flg-ita {
  width: 20px;
  height: 12px;
  background-position: -1px -1093px; }

.flg-jam {
  width: 20px;
  height: 12px;
  background-position: -1px -1107px; }

.flg-jap {
  width: 20px;
  height: 12px;
  background-position: -1px -1121px; }

.flg-jor {
  width: 20px;
  height: 12px;
  background-position: -1px -1135px; }

.flg-kaz {
  width: 20px;
  height: 12px;
  background-position: -1px -1149px; }

.flg-ken {
  width: 20px;
  height: 12px;
  background-position: -1px -1163px; }

.flg-kir {
  width: 20px;
  height: 12px;
  background-position: -1px -1177px; }

.flg-kuw {
  width: 20px;
  height: 12px;
  background-position: -1px -1191px; }

.flg-kyr {
  width: 20px;
  height: 12px;
  background-position: -1px -1205px; }

.flg-lao {
  width: 20px;
  height: 12px;
  background-position: -1px -1219px; }

.flg-lat {
  width: 20px;
  height: 12px;
  background-position: -1px -1233px; }

.flg-leb {
  width: 20px;
  height: 12px;
  background-position: -1px -1247px; }

.flg-les {
  width: 20px;
  height: 12px;
  background-position: -1px -1261px; }

.flg-lib {
  width: 20px;
  height: 12px;
  background-position: -1px -1275px; }

.flg-lit {
  width: 20px;
  height: 12px;
  background-position: -1px -1289px; }

.flg-lux {
  width: 20px;
  height: 12px;
  background-position: -1px -1303px; }

.flg-maca {
  width: 20px;
  height: 12px;
  background-position: -1px -1317px; }

.flg-mace {
  width: 20px;
  height: 12px;
  background-position: -1px -1331px; }

.flg-mad {
  width: 20px;
  height: 12px;
  background-position: -1px -1345px; }

.flg-malaw {
  width: 20px;
  height: 12px;
  background-position: -1px -1359px; }

.flg-malay {
  width: 20px;
  height: 12px;
  background-position: -1px -1373px; }

.flg-mald {
  width: 20px;
  height: 12px;
  background-position: -1px -1387px; }

.flg-mali {
  width: 20px;
  height: 12px;
  background-position: -1px -1401px; }

.flg-malt {
  width: 20px;
  height: 12px;
  background-position: -1px -1415px; }

.flg-mar {
  width: 20px;
  height: 12px;
  background-position: -1px -1429px; }

.flg-maura {
  width: 20px;
  height: 12px;
  background-position: -1px -1443px; }

.flg-maurs {
  width: 20px;
  height: 12px;
  background-position: -1px -1457px; }

.flg-may {
  width: 20px;
  height: 12px;
  background-position: -1px -1471px; }

.flg-mex {
  width: 20px;
  height: 12px;
  background-position: -1px -1485px; }

.flg-mol {
  width: 20px;
  height: 12px;
  background-position: -1px -1499px; }

.flg-mong {
  width: 20px;
  height: 12px;
  background-position: -1px -1513px; }

.flg-montg {
  width: 20px;
  height: 12px;
  background-position: -1px -1527px; }

.flg-montr {
  width: 20px;
  height: 12px;
  background-position: -1px -1541px; }

.flg-mor {
  width: 20px;
  height: 12px;
  background-position: -1px -1555px; }

.flg-moz {
  width: 20px;
  height: 12px;
  background-position: -1px -1569px; }

.flg-mya {
  width: 20px;
  height: 12px;
  background-position: -1px -1583px; }

.flg-nam {
  width: 20px;
  height: 12px;
  background-position: -1px -1597px; }

.flg-nau {
  width: 20px;
  height: 12px;
  background-position: -1px -1611px; }

.flg-nep {
  width: 20px;
  height: 12px;
  background-position: -1px -1625px; }

.flg-neth {
  width: 20px;
  height: 12px;
  background-position: -1px -1639px; }

.flg-nethan {
  width: 20px;
  height: 12px;
  background-position: -1px -1653px; }

.flg-newcl {
  width: 20px;
  height: 12px;
  background-position: -1px -1667px; }

.flg-newz {
  width: 20px;
  height: 12px;
  background-position: -1px -1681px; }

.flg-nig {
  width: 20px;
  height: 12px;
  background-position: -1px -1695px; }

.flg-niu {
  width: 20px;
  height: 12px;
  background-position: -1px -1709px; }

.flg-norf {
  width: 20px;
  height: 12px;
  background-position: -1px -1723px; }

.flg-north {
  width: 20px;
  height: 12px;
  background-position: -1px -1737px; }

.flg-norw {
  width: 20px;
  height: 12px;
  background-position: -1px -1751px; }

.flg-oma {
  width: 20px;
  height: 12px;
  background-position: -1px -1765px; }

.flg-pak {
  width: 20px;
  height: 12px;
  background-position: -1px -1779px; }

.flg-pap {
  width: 20px;
  height: 12px;
  background-position: -1px -1793px; }

.flg-par {
  width: 20px;
  height: 12px;
  background-position: -1px -1807px; }

.flg-per {
  width: 20px;
  height: 12px;
  background-position: -1px -1821px; }

.flg-phi {
  width: 20px;
  height: 12px;
  background-position: -1px -1835px; }

.flg-pol {
  width: 20px;
  height: 12px;
  background-position: -1px -1849px; }

.flg-por {
  width: 20px;
  height: 12px;
  background-position: -1px -1863px; }

.flg-pue {
  width: 20px;
  height: 12px;
  background-position: -1px -1877px; }

.flg-qat {
  width: 20px;
  height: 12px;
  background-position: -1px -1891px; }

.flg-rep {
  width: 20px;
  height: 12px;
  background-position: -1px -1905px; }

.flg-reu {
  width: 20px;
  height: 12px;
  background-position: -1px -1919px; }

.flg-rom {
  width: 20px;
  height: 12px;
  background-position: -1px -1933px; }

.flg-rus {
  width: 20px;
  height: 12px;
  background-position: -1px -1947px; }

.flg-rwa {
  width: 20px;
  height: 12px;
  background-position: -1px -1961px; }

.flg-sa {
  width: 20px;
  height: 12px;
  background-position: -1px -1975px; }

.flg-saih {
  width: 20px;
  height: 12px;
  background-position: -1px -1989px; }

.flg-saip {
  width: 20px;
  height: 12px;
  background-position: -1px -2003px; }

.flg-sam {
  width: 20px;
  height: 12px;
  background-position: -1px -2017px; }

.flg-sao {
  width: 20px;
  height: 12px;
  background-position: -1px -2031px; }

.flg-sau {
  width: 20px;
  height: 12px;
  background-position: -1px -2045px; }

.flg-sen {
  width: 20px;
  height: 12px;
  background-position: -1px -2059px; }

.flg-ser {
  width: 20px;
  height: 12px;
  background-position: -1px -2073px; }

.flg-sey {
  width: 20px;
  height: 12px;
  background-position: -1px -2087px; }

.flg-sie {
  width: 20px;
  height: 12px;
  background-position: -1px -2101px; }

.flg-sin {
  width: 20px;
  height: 12px;
  background-position: -1px -2115px; }

.flg-sk {
  width: 20px;
  height: 12px;
  background-position: -1px -2129px; }

.flg-slok {
  width: 20px;
  height: 12px;
  background-position: -1px -2143px; }

.flg-slon {
  width: 20px;
  height: 12px;
  background-position: -1px -2157px; }

.flg-sol {
  width: 20px;
  height: 12px;
  background-position: -1px -2171px; }

.flg-spa {
  width: 20px;
  height: 12px;
  background-position: -1px -2185px; }

.flg-sri {
  width: 20px;
  height: 12px;
  background-position: -1px -2199px; }

.flg-sur {
  width: 20px;
  height: 12px;
  background-position: -1px -2213px; }

.flg-sva {
  width: 20px;
  height: 12px;
  background-position: -1px -2227px; }

.flg-swa {
  width: 20px;
  height: 12px;
  background-position: -1px -2241px; }

.flg-swe {
  width: 20px;
  height: 12px;
  background-position: -1px -2255px; }

.flg-swi {
  width: 20px;
  height: 12px;
  background-position: -1px -2269px; }

.flg-tai {
  width: 20px;
  height: 12px;
  background-position: -1px -2283px; }

.flg-taj {
  width: 20px;
  height: 12px;
  background-position: -1px -2297px; }

.flg-tan {
  width: 20px;
  height: 12px;
  background-position: -1px -2311px; }

.flg-tha {
  width: 20px;
  height: 12px;
  background-position: -1px -2325px; }

.flg-the {
  width: 20px;
  height: 12px;
  background-position: -1px -2339px; }

.flg-tog {
  width: 20px;
  height: 12px;
  background-position: -1px -2353px; }

.flg-ton {
  width: 20px;
  height: 12px;
  background-position: -1px -2367px; }

.flg-tri {
  width: 20px;
  height: 12px;
  background-position: -1px -2381px; }

.flg-tun {
  width: 20px;
  height: 12px;
  background-position: -1px -2395px; }

.flg-turkm {
  width: 20px;
  height: 12px;
  background-position: -1px -2409px; }

.flg-turky {
  width: 20px;
  height: 12px;
  background-position: -1px -2423px; }

.flg-tuv {
  width: 20px;
  height: 12px;
  background-position: -1px -2437px; }

.flg-uae {
  width: 20px;
  height: 12px;
  background-position: -1px -2451px; }

.flg-uga {
  width: 20px;
  height: 12px;
  background-position: -1px -2465px; }

.flg-uk {
  width: 20px;
  height: 12px;
  background-position: -1px -2479px; }

.flg-ukr {
  width: 20px;
  height: 12px;
  background-position: -1px -2493px; }

.flg-uru {
  width: 20px;
  height: 12px;
  background-position: -1px -2507px; }

.flg-us {
  width: 20px;
  height: 12px;
  background-position: -1px -2521px; }

.flg-uzb {
  width: 20px;
  height: 12px;
  background-position: -1px -2535px; }

.flg-van {
  width: 20px;
  height: 12px;
  background-position: -1px -2549px; }

.flg-ven {
  width: 20px;
  height: 12px;
  background-position: -1px -2563px; }

.flg-vie {
  width: 20px;
  height: 12px;
  background-position: -1px -2577px; }

.flg-wal {
  width: 20px;
  height: 12px;
  background-position: -1px -2591px; }

.flg-yem {
  width: 20px;
  height: 12px;
  background-position: -1px -2605px; }

.flg-zam {
  width: 20px;
  height: 12px;
  background-position: -1px -2619px; }

.flg-zim {
  width: 20px;
  height: 12px;
  background-position: -1px -2633px; }

.ui-datepicker {
  width: 50em !important;
  left: 36% !important;
  right: 0;
  margin: 0 auto;
  padding-bottom: 7px;
  font-family: "Roboto", Arial, sans-serif; }
  .ui-datepicker th {
    font-weight: 500;
    font-size: 12px;
    color: #696969; }
  .ui-datepicker td {
    padding: 0px; }
  .ui-datepicker .ui-datepicker-header {
    background: transparent;
    font-weight: normal;
    border: none; }
    .ui-datepicker .ui-datepicker-header .ui-icon {
      background-image: url("../img/datepicker-next-pre.png"); }
  .ui-datepicker td span, .ui-datepicker td a {
    padding: 11px;
    text-align: center; }
  .ui-datepicker .ui-state-default, .ui-datepicker .ui-widget-header .ui-state-default {
    border: 1px solid #ececec;
    background: transparent;
    font-weight: normal;
    color: #717171;
    font-size: 16px; }

.dp-highlight-one .ui-state-default {
  background: #bfedfa;
  color: #153c96; }

.dp-highlight-end .ui-state-default {
  background: #3a0900 !important;
  color: #FFF; }

.dp-highlight .ui-state-default {
  background: #c3e2f1;
  color: #164880; }

.dp-highlightxx .ui-state-default {
  background: #fa6529;
  color: #FFF; }

.ui-datepicker-current-day .ui-state-default {
  background: #f267fa !important;
  color: #FFF !important; }

.dp-highlight .ui-state-hover {
  background: #4084c4 !important;
  color: #FFF !important;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }

.dp-highlight-clicked .ui-state-default {
  background: #c3e2f1;
  color: #164880; }

.dp-highlight-clicked .ui-state-active {
  background: #f267fa !important;
  color: #FFF !important; }

.dp-highlight-same .ui-state-default {
  background: #f267fa !important;
  color: #FFF !important; }

.startDay .ui-state-default {
  background: #3976af !important;
  color: #FFF !important;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.endDay .ui-state-default {
  background: #3976af !important;
  color: #FFF !important;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }

.holiday a {
  background-image: url(https://fmffiles.s3.amazonaws.com/files/holiday.-FMF1488953924.jpg) !important;
  background-repeat: no-repeat !important;
  background-position: top right !important; }

.widget {
  border: 1px solid #333; }
  .widget .tab li {
    background: #333; }

.item-right {
  float: right; }

.item-airport {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  color: #b3afaf;
  width: 100%; }

.ui-widget {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.1em; }

.ui-widget-content {
  border: none;
  border-radius: 2px;
  box-shadow: 0px 0px 22px rgba(51, 51, 51, 0.39);
  overflow: auto; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-widget-content .ui-state-focus .item-airport, .ui-widget-header .ui-state-focus .item-airport {
  border-color: #a5d6ef;
  background: #c3e2f1;
  font-weight: normal;
  color: #164880; }

.ui-menu .ui-menu-item a {
  padding-left: 14px; }

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-radius: 0px; }

.ui-autocomplete-category {
  font-weight: bold;
  padding: .3em .8em;
  margin: .8em 0 .2em;
  margin-bottom: 0px;
  line-height: 1.5;
  border-bottom: 1px solid #eaeaea;
  text-transform: uppercase;
  font-size: 11px; }

.ui-menu .ui-menu-item {
  width: initial;
  clear: both; }

.ui-widget-content a {
  color: #6f6f6f; }

.list-header {
  padding: 10px;
  margin-bottom: 4px;
  border-bottom: 1px solid #333; }

.fmf-countires {
  padding: 2px 12px;
  max-height: 350px;
  overflow: auto; }
  .fmf-countires .country-item {
    cursor: pointer; }

.input-bar {
  position: relative;
  display: block;
  width: 100%; }

.input-bar:before, .input-bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #87a1bf;
  transition: 0.2s ease all; }

.input-bar:before {
  left: 50%; }

.input-bar:after {
  right: 50%; }

.input-field input:focus ~ .input-bar:before, .input-field input:focus ~ .input-bar:after {
  width: 50%; }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(64, 64, 64, 0.36); }

.ui-autocomplete-category .country-name {
  color: #5f5f5f; }

.input-field label {
  font-weight: normal; }

.footer {
  background: #fff; }

/*# sourceMappingURL=styles.css.map */
